.headerBg{
  // background-image: linear-gradient(to bottom, var(--gradient-stops));

  // --gradient-from: var(--black);
  // --gradient-stops: var(--gradient-from), var(--gradient-to, rgba(0, 0, 0, 0));
  
  width: 100%;
  height: 10vh;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  padding-right:40px;
  top:0;
  left: 0;
  position:fixed;
  z-index:3;
  transition: .2s;
}

.header-bg{
  background-color: rgba($color: rgb(0, 0, 0), $alpha: 1);
  
}
.active{
  // border color #464c47
  border-bottom: 3px solid wheat;
}

.humburger{
  position: absolute;
  right: 9%;
  top:35%;
  cursor:pointer;
  z-index: 4;
}
.close{
  right: 5%;
}
.Mobile{
  display: flex;
  width: 100%;
  flex-direction: row;
}
.logo{
  border-bottom:none;
}
.Navigation{
    display: none; 
  }
.Mobile{
    display: flex;
    width: 100%;
    flex-direction: row;
    transition: .3s;
  }
 .navlinks{
    width:40%;
    left:60%; 
    position:absolute;
    z-index:3;
    padding: 0;
    margin: 0;
    transition: .3s;
 }
 .active{
  border-bottom: 3px solid white;
}
.left{
  width:100%;
  height:100vh;
  background-color:rgba($color: #000000, $alpha: .6);
  left:0%;
  position:absolute;
  z-index:2;
  padding: 0;
  margin: 0;
  
}
@media screen and (max-width: 992px){
  .navlinks{
    width: 90%;
    left: 10%;
  }
  .humburger{
    right: 18%;
    top:20%;
  }
}
  



