Header{
  border: 2px solid black;
}
// #top{
//   position: absolute;
// }
// .bg{
//   height: 100vh;
//   width: 40%;
//   position: fixed;
//   float: left;
// }

.example::-webkit-scrollbar {
  display: none;
}

p{
  float: left;
}
.down{
  width: 85%;
  margin-top: 25vh;
}
.downI{
  float: right;
  font-size: 50px;
}

.bgImg{
  position: absolute;
  opacity: .7;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  object-fit: cover;
  object-position: center;
  width:100%;
  max-width: 100%;
  height:100%;
  margin: 0;
  padding: 0;
}

h5{
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
h1{
  font-size: 100px;
  font-weight: 900;
  margin: 2vh 0;
}
p{
  color: #fff;
  font-size: 18px;
  width: 39%;
  font-weight: 700;
  line-height: 1.714;
}
.see{
  font-size: 20px;
  text-transform: uppercase;
  color: #fff;
  text-decoration: underline;
  width: fit-content;
  margin-top: 3vh;
  &:hover{
    transition: .5s;
    color: rgb(187, 30, 30);
  }
}
.clientsWrapper{
  height: 20vh;
  width: 100vw;
  background-color: #090909;
  margin: 0;
  top: 0;
  display: flex;
  justify-content: center;

}
.clients{
  height: 15vh;
  width: 85%;
  border-bottom: 2px solid rgb(105, 105, 105);
  margin-top: 0;
}

@media only screen and (max-width: 767px){
  h5{
    font-size: 16px;
  }
  h1{
    font-size: 70px;
    margin-top: 3vh ;
  }
  p{
    font-size: 18px;
    width: 85%;
    margin: 30;
  }
  .down{
    width: 85%;
    margin-top: 20vh;
  }
  .downI{
    float: right;
    font-size: 40px;
  }
  .clients{
    height: 15vh;
  }
}

@media only screen and (max-width: 575px){
  h5{
    font-size: 18px;
  }
  h1{
    font-size: 40px;
    margin: 33;
  }
  p{
    font-size: 16px;
    width: 85%;
    margin: 30;
  }
}
