

.email{
  font-size: 2.5rem;
  color: #89715b;
  text-decoration: none;
  background: 
  linear-gradient(to right, rgb(53, 65, 56), rgb(0, 0, 0)),
  linear-gradient(to right, rgb(52, 67, 56), rgb(233, 233, 233), rgb(194, 194, 194));
  background-size: 100% 0.1em, 0 0.1em;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
  cursor: none;
  font-weight: 500;
  @media screen and (max-width: 992px){
    font-size: calc(1.3rem + 0.6vw);
    line-height: 1.32;
    background: none;
    text-decoration: underline;
  }
}
.email:hover,
.email:focus {
	background-size: 0 0.1em, 100% 0.1em;
}
.br{
  display: none;
  @media screen and (max-width: 992px){
    display: flex;
  }
}

.workT{
  font-size:24px;
  font-weight:400;
  line-height:1.32;
  width:fit-content;
  color:rgba(255,255,255,0.5);
  @media screen and (max-width: 992px){
    font-size: 20px;
  }
}




